PORT=3000

# iCloud CardDAV configuration
CARDDAV_URL=https://contacts.icloud.com/
CARDDAV_USERNAME=je-apple-id@icloud.com
CARDDAV_PASSWORD=je-app-specifiek-wachtwoord

# Optional configuration
TIMEZONE=Europe/Amsterdam
